.site-footer {
  .right-reserved {
    padding: 10px 15px 30px 15px;
    // background-color: #222;
    text-align: center;
    font-size: 13px;
    font-weight: 300;
    line-height: 18px;
    color: grey;
    width: 100%;

    .logo {
      margin-right: 20px;
      height: 30px;
    }
  }

  .footer-hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 0;
    border-top: 1px solid #eee;
    width: 100%;
  }
 
}