.coding-header{
    background-color: #222;
    border-color: #080808;
    box-shadow: 0 5px 15px 0 rgba(0,0,0,0.08);
    min-height: 50px;
    font-size: 14px;
    display: flex;
   // position: fixed;
    // top:0;
    // left:0;
    // right:0;
    // z-index: 100;
   
  .header-content {
    display: flex;
    align-items: center;

    .conding-header-nav {
      width: 100%;
      display: flex;
      align-items: center;
      justify-content: space-between;
      .ant-badge {
        font-size: 20px;
      }

      .header-right {
        display: flex;
        font-size: 18px;
        color: #95a5a6;
        cursor: pointer;
        .header-ring {
          margin-right: 20px;
        }
        .header_button {
          background: transparent;
          color: #fff;
          font-weight: 700;
          border: none;
          font-size: 16px;
        }
        .header_button:hover {
         color : #f8f8f8;
        }
      }
    }


    .header-left ul.ant-menu {
      background-color: #222;
      border-bottom: none;
      a {
        color: #9d9d9d; ;
      }
    }
  }  
}

.user_name {
  padding-left: 10px;
}
.prover_ul {
  list-style: none;
  padding-left: 0px;
  li {
    padding: 15px 5px 15px 15px;

  }
  li:hover {
    border-radius: 5px;
    background: #f5f5f5;
    cursor: pointer;
  }
  .icon_prover_header {
    padding-right: 10px;
    position: relative;
    top:-2px;
  }
}

.popover_noti {
  width: 400px;
  min-height: 400px;
  .title_noti {
    margin: 10px 0px;
    font-weight: 600;
  }
  .noti_wrapper {
    position: relative;
    .layer_2 {
      width: 30px;
      height: 30px;
      text-align: center;
      border-radius: 50%;
      background: #fff;
      position: absolute;
      right: 15px;
      top: 45px;
      display: none;
      font-weight: bold;
      z-index: 1000;
    }
   .item_noti {
    display: flex;
    margin-bottom: 10px;
    padding:10px;
    .item_left {
      flex: 0 0 50px;
      .anticon-comment {
        font-size: 2.5em;
        position: relative;
        top:3px;
      }
    }
   
   }
   .item-noti-readed {
     color : #cbcbc2;
     a {
       color : #cbcbc2;
     }
   }
 

  }
  .noti_wrapper:hover {
    border-radius: 5px;
    background: #f5f5f5;
    cursor: pointer;
  }

  .noti_wrapper:hover .layer_2 {
    display: block;
  }

  .noti_wrapper a:hover {
    text-decoration: underline;
  }
  .action_comment p {
    padding: 5px 10px 5px 10px;
    cursor: pointer;
    font-weight: 600;

  }
  .action_comment p:hover {
    background-color: #f5f5f5;
    border-radius: 5px;
  }
  .noti-footer {
    padding: 10px 0px;
    text-align: center;
    border-top: 1px solid #f5f5f5;
    a {
      color: #096dd9;
    }
    a:hover {
      text-decoration: underline;
    }
  }


}