div#playground {
  width: 100% !important;
  height: 100% !important;
}
.split-wrapper {
  display: flex;
  .gutter.gutter-horizontal:hover {
    //background: #8080807d;
    cursor: ew-resize;
    transition: 0.5s;
  }
  .ant-tabs-bar {
    margin: 0;
  }
}

.playground-action {
  display: flex;
  justify-content: space-between;
}

.content-right, .content-left {
  height: 100vh;
  display: flex;
  flex-direction: column;
}

.content-right {
  border-right: 1px solid #f0f0f0;
}

.content-left.playground-wrapper {
  margin-left: 2px;
  border-left: 1px solid #f0f0f0;
}

.console-status {
  height: 200px;
  overflow: scroll;
  padding: 20px;

  .ant-tabs-content {
    margin-top: 20px !important;
  }
}
.exercise-submission {
  margin: 20px;
  border: 1px solid #f0f0f0;

  tr.ant-table-row.ant-table-row-level-0 {
    cursor: pointer;
  }
}

.question-desc-wrapper {
  padding: 20px;
  h4.question-title {
    font-size: 18px;
  }
  .question-level {
    text-transform: capitalize;
  }

  button.question-reaction {
    border: none;
    background: transparent;
    svg {
      margin-right: 7px;
    }
  }

  .question-info {
    border-bottom: 1px solid #8080802e;
    .question-level, .question-point, .question-reaction {
      display: inline-block;
    }
  }
  .question-description {
    margin-top: 20px;
  }

  .question-level, .question-point, .question-reaction {
    margin: 10px;
  }
}
.gutter.gutter-horizontal {
  background-repeat: no-repeat;
  background-position: center;
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAUAAAAeCAYAAADkftS9AAAAIklEQVQoU2M4c+bMfxAGAgYYmwGrIIiDjrELjpo5aiZeMwF+yNnOs5KSvgAAAABJRU5ErkJggg==);
}

.question-fast-picker {
  position: fixed;
  bottom: 0;
  width: 100%;
  bottom: 0;
  padding: 10px 0px 10px 20px;
  display: flex;
  align-items: center;
  button.ant-btn {
    display: flex;
    align-items: center;
    svg {
      margin-right: 5px;
    }
  }
}

.action-code-editor {
  display: flex;
  width: 100%;
  bottom: 0;
  padding: 10px 0px;
  justify-content: space-between;
  .action {
    display: flex;
  }
  button.ant-btn {
    display: flex;
    align-items: center;
  }
}

.test-case-wrapper {
  .input {
    white-space: pre-wrap;
  }
}

.settings-editor-modal {
  .setting-description {
    font-size: 13px;
    color: darkgray;
  }
  .ant-row {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
  }
}
